<div class="flex mt-6 gap-6 mb-4">
  <img src="https://github.com/danilounicap.png" alt="" class="size-12 rounded-lg"/>
  <div class="bg-[#E4E4E7] flex-1 rounded-lg p-2">
    <div>
      <header class="flex justify-between items-start">
        <div class="flex flex-col">
            <strong class="text-[#F7580F]">Danilo Fernandes</strong>
            <span class="text-[#F7580F]">36min</span>
        </div>
        <button class="cursor-pointer items-end">
            ❌
        </button>
      </header>
      <p class="mt-2">Conteúdo muito importante!!!</p>
    </div>
  </div>
</div>
