<aside class="rounded-lg overflow-hidden bg-[#F4F4F5] text-[#F7580F] mt-6">
    <img
        src="https://images.unsplash.com/photo-1599507593499-a3f7d7d97667?q=50&w=500&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
        class="w-full h-18 object-cover"
      />

      <div class="flex flex-col items-center -mt-1.5">
        <img src="https://github.com/danilozxz.png"
             class="size-12 rounded-lg border-4 border-[#F4F4F5] outline-2 outline-[#F7580F]"
        />
        <strong class="mt-1">Danilo Fernandes</strong>
        <span>Web Developer</span>
      </div>

      <footer class="border-t border-t-[#F7580F] px-1.5 py-2 mt-1.5 flex justify-center items-center">
        <a href="#" class="text-[#F7580F] border rounded-lg h-12 py-1 px-1.5 font-bold flex items-center">
          
          Editar seu perfil
        </a>
      </footer>
</aside>
