<article class="bg-[#F4F4F5] mt-4 p-4">
  <header class="flex items-center justify-between">
    <div class="flex justify-center gap-2">
      <img
        src="https://github.com/danilozxz.png"
        class="size-12 rounded-lg border-4 border-[#F4F4F5] outline-2 outline-[#F7580F]"
      />

      <div class="flex flex-col text-sm text-[#F7580F]">
        <strong class="mt-1">Danilo Fernandes</strong>
        <span>Web Developer</span>
      </div>
    </div>

    <div>
      <p class="text-sm">1h</p>
    </div>
  </header>

  <div class="mt-2">
    <p class="text-[#52525C]">
      Fala galeraa 👋 Acabei de subir mais um projeto no meu portifólio. É um
      projeto que fiz no Decola Tech 2025, programa da Avanade junto a DIO. O nome do projeto é
      Decola.feed 🚀
    </p>
  </div>

  <form class="border-t border-t-[#F7580F] mt-4 flex flex-col">
    <strong class="text-[#F7580F] mt-2">Deixe seu feedback</strong>

    <textarea
      class="border-0 resize-none h-16 p-1 text-[#52525C] outline-0 bg-white mt-2 rounded-lg"
      placeholder="Deixe um comentário"
    ></textarea>

    <footer class="mt-2">
      <button type="submit" class="cursor-pointer bg-[#F7580F] py-1 px-2 rounded-lg mt-2 text-white font-bold">
        Comentar
      </button>
    </footer>
  </form>

  <app-comment></app-comment>
</article>
