<app-post-form (postAdded)="onPostAdded($event)"></app-post-form>
<article *ngFor="let post of posts" class="bg-[#F4F4F5] mt-4 p-4">
  <header class="flex items-center justify-between">
    <div class="flex justify-center gap-2">
      <img
        src="https://github.com/danilozxz.png"
        class="size-12 rounded-lg border-4 border-[#F4F4F5] outline-2 outline-[#F7580F]"
      />
      <div class="flex flex-col text-sm text-[#F7580F]">
        <strong class="mt-1">Danilo Fernandes</strong>
        <span>Web Developer</span>
      </div>
    </div>
    <div>
      <p class="text-sm">1h</p>
    </div>
  </header>

  <div class="mt-2">
    <p class="text-[#52525C]">{{ post.description }}</p>
  </div>

  <app-comment-form [postId]="post.id" (commentAdded)="onCommentAdded(post.id, $event)"></app-comment-form>

  <app-comment [comments]="commentsByPost[post.id] || []"></app-comment>
</article>
